/*
copyright_print.css

Copyright © 2007 WestOne Services All WestOne materials, regardless of format are protected by copyright law. No part may be reproduced or re-used for any commercial purposes whatsoever without written permission from WestOne Services (IPUnit@westone.wa.gov.au)

@author PH, WestOne Services

$CreatedDate: 2007/07/04 $

$LastChangedDate: yyyy/mm/dd $

@modified [Date], [Name], [Reason] $Rev: 01 $
============================================
REQUIRES:
    * Internet Explorer 6.0+, or
    * Netscape 7.x+, or
    * Mozilla 1.x+, or
    * Firefox 1.5+

DESCRIPTION:
Styling for copyright.html - print version
=============================================
*/

/* ========================= useful classes ============================== */

#container {
	width: 96%;
}

.content p {
	width: 95%;
}