/*
@author [insert initials here], WestOne Services
@created for [enter specific project details]
WUPI: [insert WUPI code]

@modified [Date], [Name], [Reason] $Rev: 01 $
*/

/* General purpose classes
--------------------------------------------------------------------------------------------------------------------------------------------- */

body {	
	background:	#fff;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	padding:0;
	margin:0;
}
* html body {
	/* Stop the scrollbar in IE */
	width: 98%;
}

#header {
	margin:	0;
	padding: 0;
	height:	165px;
	color: #000;
	background: #6C0000 url(../images/cell_header_bg.jpg) 715px 0 no-repeat;
}
#header h1 {
	margin:0;
	padding:0;
}


#content {
	margin:	30px 18px;
	padding: 10px;
	border: 1px solid #999;
	clear: both;
}

#footer{

}

/* Layout
--------------------------------------------------------------------------------------------------------------------------------------------- */

.interactionHL {
	padding: 3px;
	background-color:#FF0;
}

.dummy {
	padding: 3px;
	border: 1px dashed white;
	background-color:#CC0;
}

.eling { font-style:italic; }

.tt {
	background-color: #D4FD96;
	font-style:italic;
	text-decoration:none;
	border-bottom: 1px dotted #333;
	cursor:help;
	padding: 0 3px;
	line-height: 1.5em;
	color: #000;
}
.tt.nt {
	font-style:normal;
}
.tt:hover {
	padding: 0 14px 0 3px;
	background:#D4FD96 url(../images/tt_crn.gif) center right no-repeat;
}
.tt_c {
	padding: 0 3px;
	background-color: #FC9;
	line-height: 1.5em;
	border-bottom: 1px dotted #333;
}

em.ita { font-weight:bold; }


ul ul, ol ol {
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.nobull {
	list-style-type: none;
	padding-left: 0;
}

.box {
	border: 1px solid #234F90;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	min-height: 75px;
	background-color:#FFF;
}
* html .box {
	height: 75px;
}

.box.clr {
	background: none;
}
.box.ref {
	background-color: #FFFFCC;
}

.box.grey { 
	background-color:#EBEBEB;
}

.box.ws {
	background: #FFF url(../../../../../../../italian/3b/content/shared/images/icons/icon1.gif) no-repeat;
	background-position: 15px;
	padding: 5px 5px 5px 85px;	
}

.box.csd {
	background: #FFF url(../../../../../../../italian/3b/content/shared/images/icons/icon2.gif) no-repeat;
	background-position: 15px;
	padding: 5px 5px 5px 85px;
}

.box.att {
	background: #FFF url(../images/icons/attention.gif) no-repeat;
	background-position: 15px;
	padding: 5px 5px 5px 85px;
}

.box.www {
	background: #FFF url(../../../../../../../italian/3b/content/shared/images/icons/icon4.gif) no-repeat;
	background-position: 15px;
	padding: 5px 5px 5px 85px;
}

.box.cul {
	background: #FFF url(../../../../../../../italian/3b/content/shared/images/icons/icon5.gif) no-repeat;
	background-position: center 15px;
	padding: 75px 5px 5px 5px;
}

.box.rea {
	background: #FFF url(../../../../../../../italian/3b/content/shared/images/icons/icon7.gif) no-repeat;
	background-position: 15px;
	padding: 5px 5px 5px 85px;
}

.box.nfo {
	background: #FFF url(../images/icons/infopoint.gif) no-repeat;
	background-position: 15px;
	padding: 5px 5px 5px 85px;
}

.box.lis {
	background: #FFF url(../../../../../../../italian/3b/content/shared/images/icons/icon9.gif) no-repeat;
	background-position: 15px;
	padding: 5px 5px 5px 85px;
}

.box.spk {
	background: #FFF url(../../../../../../../italian/3b/content/shared/images/icons/icon10.gif) no-repeat;
	background-position: 15px;
	padding: 5px 5px 5px 85px;
}

.box.lin {
	background: #FFF url(../images/icons/linguistic.gif) no-repeat;
	background-position: 15px;
	padding: 5px 5px 5px 85px;
}

.box.rev {
	background: #FFF url(../../../../../../../italian/3b/content/shared/images/icons/icon12.gif) no-repeat;
	background-position: 15px;
	padding: 5px 5px 5px 85px;	
}

.box.chk {
	background: #FFF url(../../../../../../../italian/3b/content/shared/images/icons/icon13.gif) no-repeat;
	background-position: 15px;
	padding: 5px 5px 5px 85px;	
}

.tab1, a.tab1 {	margin-left: 25px; }
.tab2, a.tab2 {	margin-left: 50px; }
.tab3, a.tab3 {	margin-left: 75px; }

.tab_box {
	display: block;
	width: 100px;
	float: left;
}
* html .tab_box {
	display: inline;
	float:none;
	padding-right: 30px;
}

.hidden {
	padding-top: 4px;
	/* color: #F00; */
	color:#0066FF;
}
.hidden.bt { color: #000; }
.hidden.ans { 
	color: #390; 
	background: url(../images/ico_tick.gif) center left no-repeat;
	padding-left: 15px;
}
.hidden.fls { 
	background: url(../images/ico_cross.gif) center left no-repeat;
	padding-left: 15px;	
}

.invis { visibility: hidden; }

table td { /* vertical-align:top;*/ }

table.grid {
	padding: 0; margin: 0;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}
table.grid td, table.grid th {
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	padding: 5px;
	vertical-align:top;
}

table.grid.lth th {
	text-align: left;
	vertical-align: top; 
}

table.grid.tdc td {
	text-align: center;
	vertical-align: top; 
}
table.grid.tc { margin: 0 auto; }

ul.tab_nav {
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #000;
}
.tab_nav li {
	list-style-type: none;
	display: inline;
}
.tab_nav li a {
	padding: 2px 5px;
	border-left: 2px solid #000;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	text-decoration:none;
	color: #000;
	font-weight: bold;
	background-color:#F7F7F7;
}
.tab_nav li a:hover, .tab_nav li a.ctab { 
	background-color: #FFCC33;
}
	  
.tab {
	padding: 5px;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	background-color:#F7F7F7;
}

acronym {
	padding: 0 2px;
	border-bottom: 1px dotted #333;
 	cursor: help;
	font-style: italic;
  	background-color: #D4FD96;
	line-height: 1.3em;
}

acronym.noitals {
	padding: 0 2px;
	border-bottom: 1px dotted #333;
	cursor: help;
	font-style: normal;
	background-color: #D4FD96;
}

hr {
	border: 1px solid #27539F;
	margin-bottom: 10px;
}

.audioTrack {
	font-weight:bold;
	padding: 10px;
	margin: 0;
	border: 1px solid #000;
	background-color:#FF9;
	width: 165px;
}
.audioTrack.long {
	width: 175px;
}
.audioTrack.short {
	width: 125px;
}

.copyright, .ack, .cr {
	/* font-size: 0.85em; */
	font-size: 0.7em;
}

a.sh_toggle {
	padding-bottom: 10px;
	display: block;
	background: url(../images/tab_down.gif) top center no-repeat;
	text-decoration: none;
	outline: none;
	margin-bottom: 0;
}
a.sh_toggle.ch {
	background: none;
	text-decoration: underline;
	display:inline;
}

a.sh_toggle.down {
	background: url(../images/tab_up.gif) top center no-repeat;
}

.browser, .blog {
	background: #FFF url(../images/browser_bg.gif) top left repeat-y;
	padding: 15px;
	margin: 0;
	width: 550px;
}

.browser_g {
	background: #FFF url(../images/browser_bg_g.jpg) top left repeat-y;
	padding: 15px;
	margin: 0;
	width: 550px;
}

.cnt_img {
	float: right;
	margin: 0 0 5px 5px;
	padding: 0;
}
.cnt_img_l {
	float: left;
	margin: 0 5px 5px 0;
	padding: 0;
}