/* CSS Document Italian 2a - Idea 1 */
.BGBrowser {
	background: url(../images/brws_bg.gif) repeat-y;
	padding: 5px 15px;
	width:540px;
}
* html .BGBrowser {
	background-position: left top;
	margin: 0px; padding: 5px 15px;
}

.altrow {
	background-color:#CCC;
	padding: 5px 5px 0 5px;
	margin-bottom: 3px;
	
}