<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
    		<link href="css/bootstrap-responsive.css" rel="stylesheet">
	</head>

<body>
<div class="container-fluid">
{% include header.html %}
{% include links.html %}
{% include games.html %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</div>
</html>
